<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <link href="/assets/vendor/fonts/circular-std/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/libs/css/style.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/fontawesome/css/fontawesome-all.css">
    <link rel="stylesheet" href="/assets/vendor/charts/chartist-bundle/chartist.css">
    <link rel="stylesheet" href="/assets/vendor/charts/morris-bundle/morris.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/charts/c3charts/c3.css">
    <link rel="stylesheet" href="/assets/vendor/fonts/flag-icon-css/flag-icon.min.css">
    <title>Admin panel</title>
</head>

<body>


    <div class="dashboard-main-wrapper">


        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="/">Self.az</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <img src="/assets/images/self_logo1.png" alt="">
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="/">Self.az</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link" href="/admin/"><i class="fa fa-fw fa-user-circle"></i>Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/package"><i class="fa fa-fw fa-rocket"></i>Package</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/settings"><i class="fa fa-fw fa-rocket"></i>Settings</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">Menu</li>
                                            <li class="breadcrumb-item active" aria-current="page">Paketlər</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="ecommerce-widget">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">name</th>
                                                <th class="border-0">price</th>
                                                <th class="border-0">description</th>
                                                <th class="border-0" style="color: red;" >Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           <div>
                                               <h1>Hosting package</h1>
                                               <% hostingall.forEach(element => { %>
                                                <tr class="element._id" >
                                                    <td><%= element.name %></td>
                                                    <td><%= element.price %></td>
                                                    <td><%= element.des %></td>
                                                    <td><form action="/services/hosting/delete/<%=element.id%>" method="post">
                                                        <button type="submit" style="color: red;" >X</button>
                                                    </form></td>
                                                </tr>
                                                <%  });  %>
                                           </div>
                                            <br>
                                            
                                        </tbody>
                            
                                    </table>
                                </div>
                                <br>
                                <div class="col-md-6">
                                    <table class="table">
                                        <thead class="bg-light">
                                            <tr class="border-0">
                                                <th class="border-0">name</th>
                                                <th class="border-0">price</th>
                                                <th class="border-0">description</th>
                                                <th class="border-0" style="color: red;" >Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           <div>
                                               <h1>web package</h1>
                                               <% weball.forEach(element => { %>
                                                <tr class="element._id" >
                                                    <td><%= element.name %></td>
                                                    <td><%= element.price %></td>
                                                    <td><%= element.des %></td>
                                                    <td><form action="/services/web/delete/<%=element.id%>" method="post">
                                                        <button type="submit" style="color: red;" >X</button>
                                                    </form></td>
                                                </tr>
                                                <%  });  %>
                                           </div>
                                            <br>
                                            
                                        </tbody>
                            
                                    </table>
                                </div>
                                <br>
                             <div class="col-md-6" >
                                <table>
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0">name</th>
                                            <th class="border-0">price</th>
                                            <th class="border-0">description</th>
                                            <th class="border-0" style="color: red;" >Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div>
                                            <h1>smm package</h1>
                                            <% smmall.forEach(element => { %>
                                             <tr class="element._id" >
                                                 <td><%= element.name %></td>
                                                 <td><%= element.price %></td>
                                                 <td><%= element.des %></td>
                                                 <td><form action="/services/smm/delete/<%=element.id%>" method="post">
                                                     <button type="submit" style="color: red;" >X</button>
                                                 </form></td>
                                             </tr>
                                             <%  });  %>
                                        </div>
                                         <br>
                                         
                                     </tbody>
                                </table>
                             </div>
                                <br>
                             <div class="col-lg-12" >
                                <table>
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0">name</th>
                                            <th class="border-0">price</th>
                                            <th class="border-0">description</th>
                                            <th class="border-0" style="color: red;" >Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div>
                                            <h1>other package</h1>
                                            <% otherall.forEach(element => { %>
                                             <tr class="element._id" >
                                                 <td><%= element.name %></td>
                                                 <td><%= element.price %></td>
                                                 <td><%= element.des %></td>
                                                 <td><form action="/services/other/delete/<%=element.id%>" method="post">
                                                     <button type="submit" style="color: red;" >X</button>
                                                 </form></td>
                                             </tr>
                                             <%  });  %>
                                        </div>
                                         <br>
                                         
                                     </tbody>
                            </table>
                             </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#exampleModal">
                                    add
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">add package</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1>web package</h1>
                            <form method="POST" action="/services/web/create">
                                <input name="name" type="text" placeholder="name">
                                <input name="price" type="text" placeholder="price">
                                <input name="des" type="text" placeholder="description">
                                <button type="submit" class="btn btn-primary fadeIn fourth" >add</button>
                            </form>
                            <br>
                            <h1>smm package</h1>
                            <form method="POST" action="/services/smm/create">
                                <input name="name" type="text" placeholder="name">
                                <input name="price" type="text" placeholder="price">
                                <input name="des" type="text" placeholder="description">
                                <button type="submit" class="btn btn-primary fadeIn fourth" >add</button>
                            </form>
                            <br>
                            <h1>other package</h1>
                            <form method="POST" action="/services/other/create">
                                <input name="name" type="text" placeholder="name">
                                <input name="price" type="text" placeholder="price">
                                <input name="des" type="text" placeholder="description">
                                <button type="submit" class="btn btn-primary fadeIn fourth" >add</button>
                            </form>
                            <br>
                            <h1>hosting package</h1>
                            <form method="POST" action="/services/hosting/create">
                                <input name="name" type="text" placeholder="name">
                                <input name="price" type="text" placeholder="price">
                                <input name="des" type="text" placeholder="description">
                                <button type="submit" class="btn btn-primary fadeIn fourth" >add</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------footer-start----------------------->
            <div class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                            © 2021 self.az
                        </div>
                    </div>
                </div>
            </div>
            <!-- -------------footer-end----------------------->


        </div>


    </div>




    <script src="/assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="/assets/vendor/slimscroll/jquery.slimscroll.js"></script>
    <script src="/assets/libs/js/main-js.js"></script>
    <script src="/assets/vendor/charts/chartist-bundle/chartist.min.js"></script>
    <script src="/assets/vendor/charts/sparkline/jquery.sparkline.js"></script>
    <script src="/assets/vendor/charts/morris-bundle/raphael.min.js"></script>
    <script src="/assets/vendor/charts/morris-bundle/morris.js"></script>
    <script src="/assets/vendor/charts/c3charts/c3.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/d3-5.4.0.min.js"></script>
    <script src="/assets/vendor/charts/c3charts/C3chartjs.js"></script>
    <script src="/assets/libs/js/dashboard-ecommerce.js"></script>
</body>

</html>